#header{
	    background-image: url("header.jpg");
		background-size: cover;
		font-family: "lobster", cursive;
		
}
#header table{
	    height: 100px;
}
#header td{
	    width: 100px;
}
#footer{
        font-family: "Lobster", cursive;	
}
#footer p{
	    text-align: center;
}
#main{
	    background-color: brown;
		
}
#menu{
	    background-color: brown;
}
img{
	    border-radius: 8px;	  
}
h1{
	    font-size: 60px;
}
.button-link {
        color: black;
        padding: 10px 10px;
        background-color: #34ff17;
        border: 10px;
		border-radius: 8px;
		opacity: 0.6;
        filter: alpha(opacity=60);
		font-weight: normal;
}
.button-link:visited {
        color: orange;
        background: green;
		font-weight: normal;
}

.button-link:hover {
        text-decoration: underline;
        color: black;
        background: green;
		font-weight: bold;
}

.button-link:active {
        text-decoration: none;
        color: black;
        background-color: red;
		font-weight: normal;
}


