body {
	  background-image: url("background3.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  
}
img{
	  border-radius: 8px;	  
}
p {
	  color: grey;
	  font-size: 30px;
	  font-family: "oswald";
	  
}
h3{
	  color: rgb(128,128,128);
	  font-family: "Indie Flower", cursive;
}
#cover{
	  background-image: url("album.jpg");
	  background-repeat: no-repeat;
	  border-radius: 8px;
      background-position: center top;
	  height: 200px;
	  width: 200px;
	  
	  
}
a{
	  color:#808080;
	  font-size: 40px;
	  font-weight: bold;
	  text-decoration: none;
	  font-family: "Poiret One", cursive;
}
a:hover{
	  color: white;
	  font-size: 40px;
	  font-weight: bold;
	  text-decoration: underline;
	  font-family: "Poiret One", cursive;
	  background-color: yellow;
}
li{
	  font-family: "oswald";
	  font-style: italic;
	  color: grey;
}	
table{
	  border-collapse: collapse;
	  font-family: "Roboto Slab", cursive;
	  background-color: #3366ff;
	  
}
tr{
	  color: black;
	
}
td{
	  font-style: italic;
}
		   