body {
	  background-image: url("../images/background3.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  
}
img{
	  align: center;
}	  

p {
	  color: grey;
	  font-size: 30px;
	  font-family: "oswald";
	  
}
h3{
	  color: rgb(128,128,128);
	  font-family: "Indie Flower", cursive;
}
#cover{
	  background-image: url("../images/album.jpg");
	  background-repeat: no-repeat;
	  border-radius: 8px;
      background-position: center top;
	  height: 200px;
	  width: 200px;
	  
	  
}
a{
	  color:#808080;
	  font-size: 40px;
	  font-weight: bold;
	  text-decoration: none;
	  font-family: "Poiret One", cursive;
}
a:hover{
	  color: white;
	  font-size: 40px;
	  font-weight: bold;
	  text-decoration: underline;
	  font-family: "Poiret One", cursive;
	  background-color: yellow;
}
li{
	  font-family: "oswald";
	  font-style: italic;
	  color: grey;
}	
table{
	  
	  font-family: "Roboto Slab", cursive;	  
	  text-align: center;
	  background-color: blue;
	  
}
th{
	  text-align: center;
	  background-color: grey;
}
tr {
	  color: black;
	  text-align: center;
}
td{
	  font-style: italic;
	  
}
caption{
	  text-align: center;
	  font-size: 50px;
}	

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:#ADD8E6;
}   
