#header{
        background-color: rgb(173, 138, 31);	
		font-family: "lobster", cursive;
        height: 150px;
        margin-bottom: 4px;		
}
.title{
	    font-size: 20px;
		font-weight: bold;
}
.footer{
        font-family: "Lobster", cursive;	
}

}
.main{
	    background-color: brown;		
}
.menu{
	    text-align: center;
		font-family: "Oswald", cursive;
        color: black;
        vertical-align: center;		
}
.contact{
	    text-align: left;
		font-family: "Oswald", cursive;
		color: black;
	
}
img{
	    border-radius: 8px;	  
}

.button-link {
        color: black;
        padding: 10px 10px;
        background-color: #34ff17;
        border: 10px;
		border-radius: 8px;		
		font-weight: normal;
}
.button-link:visited {
        color: orange;
        background: green;
		font-weight: normal;
}

.button-link:hover {
        text-decoration: underline;
        color: black;
        background: green;
		font-weight: bold;
}
.nav>li>a{
	    color: black;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover{
       text-decoration: none;
       background-color: #560000;
}
.form-group{
	    color: black;
		text-align: left;
}
.container-fluid{
	    Background-color: #996633;
}
.jumbotron{
	    background-image: url("../images/background1.jpg");
		color: white; 
		height: 200px;
		padding: 50px;
		margin-bottom: 50px;
		margin-top: 50px;
}		
.jumbo{
	    background-color: black;
}	
body{
	    Background-color: #996633;
}

